- if ['home', 'portfolio', 'services', 'contact', 'category home', 'about'].include? body_class
  = @page.to_html(self)
- elsif body_class == 'portfolioitem'
  %section
    %header
      %h2= @page.heading
      %h3 #{ @page.metadata('worktype') } (#{ @page.metadata('year') })
    %article
      - if @page.metadata('site_link')
        %a(href="#{ @page.metadata('site_link') }")
          %img.thumb(src="/attachments/#{ @page.metadata('full_image') }")
      - else
        %img.thumb(src="/attachments/#{ @page.metadata('full_image') }")
      .content
        = preserve @page.to_html(self)
        - if @page.metadata('site_link')
          %a(href="#{ @page.metadata('site_link') }") Visit this site
- else
  %section
    %header
      %h2= @page.heading
      %h3.summary= @page.metadata("summary")
    %div
      %article
        = preserve @page.to_html(self)
      %aside
        %div
          %h4
            %time(datetime="#{@page.date}" pubdate)= format_date(@page.date)
          - if @page.metadata('tags')
            %h5 Tags:
            %ul.tags
              - @page.metadata('tags').split(',').each do |t|
                %li= t
          %ul.social
            %li
              %a(href="https://twitter.com/share" class="twitter-share-button" data-via="kzurawel" data-lang="en" data-size="large" data-count="vertical") Tweet
              %script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            %li
              %a(href="/articles.xml" id="rsslink") RSS
        
