Title: Articles - Arbor Web Solutions

%h2 Tutorials, analysis, and more.
%section
  - posts = @page.articles.paginate(:page => params[:page] ? params[:page] : 1, :per_page => 6)
  - posts.each do |post|
    %article
      %div
        %h3
          %a(href="/articles/#{post.permalink}")= post.heading
        %span= format_date(post.date)
        = post.summary
        %a(href="/articles/#{post.permalink}")= post.read_more
= will_paginate posts
