Title: About this site - Arbor Web Solutions

%h2 What it's all about.

%p.description 
  Arbor Web Solutions is a web design and development studio founded by Kevin Zurawel. For over
  six years, I've been creating simple and elegant websites for clients large and small. I have been
  a speaker at WordCamp Miami 2011, the winner of the First Annual Design Miami design competition,
  and a competitor in the 2011 UnmatchedStyle CSSOff. I look forward to putting my experience to
  work for you.

%h2 What I've been doing lately.

%section#categories
  %div
    %h3 Reading: <span>via <a href="http://www.goodreads.com/user/show/6934901-kevin">Goodreads</a></span>
    %ul#goodreads
      - latest_books(4).each do |b|
        %li
          %img(src="#{b[:cover]}")
          %div
            %a(href="#{b[:link]}")= b[:title]
            %span= b[:authors].join(', ') + " (#{b[:pubyear]})"
            %span #{b[:num_pages]} pages; rating: #{b[:rating]} / 5
  %div
    %h3 Listening to:
    %ul#music
      %li
        %img(src="/attachments/music/axelay.jpg")
        %span Axelay
        %span
          %em Taro Kudou / Konami
      %li
        %img(src="/attachments/music/holstplanets.jpg")
        %span Holst: The Planets / Vaughan Williams: Fantasias
        %span
          %em Leonard Slatkin, Philharmonia Orchestra
      %li
        %img(src="/attachments/music/childrenclone.jpg")
        %span Children of the Clone
        %span
          %em Jim Guthrie
      %li
        %img(src="/attachments/music/bagraiders.jpg")
        %span Bag Raiders
        %span
          %em Bag Raiders
      %li
        %img(src="/attachments/music/goldfish.jpg")
        %span Get Busy Living
        %span
          %em Goldfish

  %div
    %h3 Photographing: <span>via <a href="http://www.flickr.com/photos/54905989@N08/">Flickr</a></span>
    %ul#flickr
      - latest_flickr(4).each do |p|
        %li
          %img(src="#{p[:thumbnail]}")
          %a(href="#{p[:url]}")= p[:title]
          %span= format_date(p[:taken])

  %div
    %h3 Tweeting: <span><a href="http://twitter.com/#!/kzurawel">latest tweets &amp; retweets</a></span>
    %ul#latesttweets
      - latest_tweets(4).each do |t|
        %li
          %img(src="#{t[:img]}")
          %div
            %a(href="http://twitter.com/#{t[:user]}")= t[:user]
            %p= t[:content]
            %span= t[:time].strftime("%d %b %Y %I:%M%P")

  %div
    %h3 Archiving: <span><a href="http://twitter.com/#!/kzurawel/favorites">favorite tweets</a></span>
    %ul#favoritetweets
      - fave_tweets(4).each do |t|
        %li
          %img(src="#{t[:img]}")
          %div
            %a(href="http://twitter.com/#{t[:user]}")= t[:user]
            %p= t[:content]
            %span= t[:time].strftime("%d %b %Y %I:%M%P")

  -#
    %div
      %h3 Working on:
      %ul#diydribbble
        %li Todo...

  %div
    %h3 Contributing: <span>Latest <a href="https://github.com/kzurawel">Github</a> repos</span>
    %ul#github
      - github_repos(4).each do |r|
        %li
          %a(href="#{r[:url]}")= r[:name]
          - if r[:description]
            %span= r[:description]
          %span Last commit: #{format_date(Date.parse(r[:pushed_at]))}

  %div
    %h3 Speaking on: <span>via <a href="http://www.slideshare.net/arborwebsolutions">SlideShare</a></span>
    %ul#slideshare
      - latest_slideshows(4).each do |s|
        %li
          %img(src="#{s[:thumb]}")
          %a(href="#{s[:url]}")= s[:title]
          %span= format_date(s[:date])

